body {
    padding-top: 50px;
}

.pic-text {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pic-text img {
    height: 100%;
    width: 100%;
}

.wifi {
    font-weight: bold;
}

.content-block {
    position: relative;
    overflow: hidden;
    padding-bottom: 30px;
}

.content-block-title {
    font-weight: bold;
    padding-bottom: 4px;
    margin-top: 10px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #8c8c8c;
}

.content-block-subtitle-1 {
    padding: 4px;
    margin: 10px;
    border: 1px solid gray;
    font-weight: bold;
    font-size: 120%;
}

.content-block p {
    font-size: 110%;
    font-family: arial, sans-serif;
}

.content-block-definition {
    font-weight: bold;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.link-table thead {
    font-weight: bold;
    font-size: 115%;
}

.img-in-center {
    margin: 5px;
    text-align: center;
}