body {
    padding-top: 50px;
}

.cv-text {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pic-text {
    text-align: center;
    border: 1px dashed lightgrey;
}

.pic-text img {
    height: 80%;
    width: 80%;
}

.pic-text a {
    display: block;
}

.name-and-personal-brief-text {
    float: left;
    margin-left: 16px;
}

.name-text {
    display: block;
}

.personal-brief-text {
    float: left;
}

.content-block {
    position: relative;
    overflow: hidden;
    padding-bottom: 24px;
}

.content-block-title {
    font-weight: bold;
    padding-bottom: 4px;
    margin-top: 10px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #8c8c8c;
}

.content-block p:not(.content-block-subtitle-1) {
    font-size: 110%;
    margin-left: 16px;
    margin-right: 16px;
    font-family: arial, sans-serif;
}

.standard-size-text {
    font-size: 100%;
}

.smaller-size-text {
    font-size: 80%;
}

.content-block-subtitle-1 {
    padding: 4px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid gray;
    font-weight: bold;
    font-size: 125%;
}

.content-block-definition {
    font-weight: bold;
}


.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.table thead {
    font-weight: bold;
    font-size: 120%;
}

.link-table tr td:first-child {
    border-right: 1px dashed gray;
}

.img-in-center {
    margin: 5px;
    text-align: center;
}